.dropdown-instance {
  width: 103px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.item-110 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.div23,
.item-210 {
  box-sizing: border-box;
}
.item-210 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  align-self: stretch;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  font-family: var(--font-montserrat);
  font-size: var(--font-size-base);
  color: var(--color-black);
  min-width: 168px;
}
.div23 {
  width: 70px;
  position: relative;
  display: inline-block;
  padding-right: var(--padding-xl);
}
.dropdown-list-35,
.item-310 {
  display: flex;
  justify-content: flex-start;
}
.item-310 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.dropdown-list-35 {
  flex: 1;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: flex-start;
  gap: 1px 0;
}
.dropdown-list-34 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dropdown-list-33 {
  width: 100%;
  height: 134px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
